# Ignore build artifacts
Build/
DerivedData/
build/

# Executables
doom-ed

# macOS Finder metadata
.DS_Store

# Test binaries
tests/triangulate_test
tests/bsp_test
triangulate_test
bsp_test
*.o
*.a
doom-ed
build/
triangulate_test
bsp_test

# Xcode
*.xcuserstate
xcuserdata/
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser

